
html
{
    background: rgb(44,44,44);
    padding: 9px;
}
body
{
    font-family: Helvetica,sans-serif;
    font-size: 14px;
    padding: 10px;
    margin: 10px;
    line-height: 1.7;
    background: rgb(240,240,240);
    box-shadow: 0px 0px  10px black;
}
h3
{
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: normal;
    letter-spacing: -1px;
}
li
{
    line-height: 1.1;
}
.section
{
    border-bottom: 1px solid #ccc;
    padding: 5px;
}
