.pull-left {
  float: left; }

.pull-right {
  float: right; }

#header {
  background: url(img/rainbow.png) left 86px no-repeat;
  -ms-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 9px rgba(0, 0, 0, 0.25);
  margin: 0 0 16px 0;
  padding: 0; }
  #header #header-logo-secondary {
    background: url(img/mind-wide-open.png) top left no-repeat;
    display: block;
    height: 25px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    position: absolute;
    right: 13px;
    top: 43px;
    width: 198px; }
  #header .menu-item > a {
    border: none;
    font-size: 16px;
    height: auto;
    line-height: 16px; }
  #header .menu-item a:hover {
    text-decoration: none; }
  #header .menu-item .menu-item-title, #header .menu-item .menu-item-no-drop {
    text-shadow: none; }
  #header .menu-item .menu-item-title, #header .menu-item .menu-item-drop {
    padding: 13px 36px 14px 16px; }
  #header .menu-item .menu-item-no-drop {
    padding: 13px 26px 14px 26px; }
  #header .menu-item .menu-item-title {
    background: url(img/dropdown-arrow.png) 95% center no-repeat;
    border: none; }
  #header .menu-item.hover .menu-item-title {
    background-color: white !important;
    border: none; }
  #header .menu-item.hover .menu-item-drop {
    background: white !important;
    filter: none; }

#breadcrumbs {
  background: none;
  border-top: 1px solid #cccccc; }

#header-logo {
  background: url(img/landing.png) bottom no-repeat;
  display: block;
  height: 69px;
  margin: 0 0 -7px 24px;
  position: relative;
  top: -26px;
  width: 464px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

#identity {
  background: #c8c8c8;
  border: none;
  color: #fff;
  padding: 7px 4px 8px 4px;
  -moz-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  -ms-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  #identity a {
    color: #fff; }
  #identity li {
    margin: 0 8px 0 0; }
  #identity .user_name a {
    color: white !important; }
  #identity #identity-help-container a {
    background: none;
    border: none;
    color: #fff; }

#menu {
  margin-left: 0;
  clear: left;
  padding: 0 0 0 22px; }
  #menu > li {
    border-right: 1px solid #dadada;
    font-weight: 300; }
    #menu > li:first-child {
      border-left: 1px solid #dadada; }
    #menu > li a {
      color: #404040; }

#footer {
  background: url(img/rainbow-footer.png) top left no-repeat;
  margin: 0;
  min-height: 60px;
  padding: 36px 0 0 0;
  position: relative;
  width: 100%; }
  #footer .footer-container {
    padding: 0 0 0 24px; }
  #footer .footer-nav {
    color: #333;
    font-size: 12px;
    line-height: 40px;
    list-style: none;
    margin: 0;
    padding: 0; }
    #footer .footer-nav li {
      float: left;
      margin-right: 7px; }
      #footer .footer-nav li a {
        color: #333; }
  #footer .canvas {
    font: 14px/38px sans-serif;
    margin-right: 32px; }
  #footer .netspace {
    background: url(img/netspace.png) top left no-repeat;
    display: block;
    height: 30px;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    width: 143px; }

body.with-left-side #footer {
  margin: 0;
  padding: 36px 0 0 0; }
  body.with-left-side #footer .footer-container {
    padding: 0 0 0 175px; }

.cisco-landing-logo {
  background: url(img/landing.png) top left no-repeat;
  display: block;
  height: 48px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  left: 45px;
  position: absolute;
  top: 85px;
  width: 464px; }

body.modal #modal-box {
  background: #eee;
  background: -moz-radial-gradient(white, #dddddd);
  background: -o-radial-gradient(white, #dddddd);
  background: -ms-radial-gradient(white, #dddddd);
  background: -webkit-radial-gradient(white, #cccccc);
  background: radial-gradient(white, #dddddd);
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); }

body {
  background: none; }

a, a:link, a:visited {
  color: #2ba2ff; }

.btn, .ui-button, .button {
  /* fallback/image non-cover color */
  background-color: #0287bd;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #01a3e4, #0287bd);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01a3e4), to(#0287bd));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #01a3e4, #0287bd);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #01a3e4, #0287bd);
  background: -ms-linear-gradient(top, #01a3e4 0%, #0287bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to,GradientType=0 );
  /*IE8+*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff0068ad, endColorStr=#ff00a8ea, GradientType=0)";
  text-shadow: 0 0 0;
  border-color: #0287bd #0287bd #bfbfbf;
  color: white !important; }

.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled], .ui-button:hover, .ui-button:active, .ui-button.active, .ui-button.disabled, .ui-button[disabled], .button:hover, .button:active, .button.active, .button.disabled, .button[disabled] {
  background-color: #0287BD;
  *background-color: #d9d9d9; }

.btn:hover, .button:hover, .ui-button.ui-state-hover {
  background-color: #0287BD; }

.outcomes-browser .ui-state-default {
  /* fallback/image non-cover color */
  background-color: #0287bd;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(top, #01a3e4, #0287bd);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#01a3e4), to(#0287bd));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(top, #01a3e4, #0287bd);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(top, #01a3e4, #0287bd);
  background: -ms-linear-gradient(top, #01a3e4 0%, #0287bd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to,GradientType=0 );
  /*IE8+*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff0068ad, endColorStr=#ff00a8ea, GradientType=0)";
  text-shadow: 0 0 0;
  border-color: #0287bd #0287bd #bfbfbf;
  color: white !important; }

#content h2 {
  color: purple;
  font-weight: 200; }

#main {
  z-index: 9; }

#left-side {
  background: none;
  border-top: 1px solid #cccccc; }
  #left-side #section-tabs li a {
    z-index: 10 !important; }

#right-side {
  background: #f8f8f8;
  border-top: 1px solid #cccccc;
  -moz-border-radius: 5px 0 0 0;
  -o-border-radius: 5px 0 0 0;
  -ms-border-radius: 5px 0 0 0;
  -webkit-border-radius: 5px 0 0 0;
  border-radius: 5px 0 0 0; }
  #right-side h2 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 13px 0;
    padding: 4px;
    text-shadow: -1px -1px #777777;
    -moz-border-radius: 5px 0 0 0;
    -o-border-radius: 5px 0 0 0;
    -ms-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0;
    background: -moz-linear-gradient(left, #959595, #d4d4d5);
    background: -o-linear-gradient(left, #959595, #d4d4d5);
    background: -webkit-linear-gradient(left, #959595, #d4d4d5);
    background: linear-gradient(left, #959595, #d4d4d5);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr='#959595', endColorstr='#d4d4d5', gradientType='1'); }
  #right-side #minical h2 {
    background: none; }
  #right-side .events_list .event-list-view-calendar {
    color: #333;
    text-shadow: none; }

.ui-tabs .ui-tabs-nav {
  /* fallback/image non-cover color */
  background-color: #0068ad;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(left, #0068ad, #00a8ea);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(left, 25% 0%, 0% 0%, from(#0068ad), to(#00a8ea));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(left, #0068ad, #00a8ea);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(left, #0068ad, #00a8ea);
  background: -ms-linear-gradient(left, #0068ad 0%, #00a8ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from, endColorstr=$to,GradientType=1 );
  /*IE8+*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ff0068ad, endColorStr=#ff00a8ea, GradientType=1)"; }
  .ui-tabs .ui-tabs-nav .ui-state-default {
    background-image: none !important;
    background: none !important;
    border: none;
    filter: none !important; }
    .ui-tabs .ui-tabs-nav .ui-state-default.ui-state-hover, .ui-tabs .ui-tabs-nav .ui-state-default:hover {
      background-image: none !important;
      background: none !important;
      filter: none; }
    .ui-tabs .ui-tabs-nav .ui-state-default a {
      color: white !important;
      text-shadow: -1px -1px #004c75; }
  .ui-tabs .ui-tabs-nav .ui-state-active {
    background-image: none !important;
    background: white !important;
    filter: none;
    border: 1px solid #a8a8a8;
    border-bottom: none;
    -moz-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    margin: -7px 0 0 0; }
    .ui-tabs .ui-tabs-nav .ui-state-active.ui-state-hover, .ui-tabs .ui-tabs-nav .ui-state-active:hover {
      background-image: none !important;
      background: white !important;
      filter: none; }
    .ui-tabs .ui-tabs-nav .ui-state-active a {
      color: #444444 !important;
      display: inline-block;
      padding-top: 12px;
      text-shadow: none; }
